.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inventory-container {
  display: flex;
  justify-content: center;
}
.menu-card {
  border: 1px solid black;
}
.menu-card > h4{
  padding: 5px;
  color: black;
  font-weight: 900;
}
/*.menu-card > p{
  padding: 5px;
  color: red;
}*/
.price{
  color: green;
  font-weight: 600;
}
.john-wall{
  margin: 0 auto;
  text-align: center;/*fix this*/
  padding: 100px;
}
.sid-wall{
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  justify-content: space-between;
}
a:hover{
  background-color: lightblue;
}
.menu-card:hover{
  background-color: lightyellow;
}
a{
  text-decoration: none;
}
.bradley-fake-stats-beal{
  display: flex;
  width: 300px;
  max-width: 45vw;
  margin: 0 auto;
  justify-content: space-between;
}
.bradley-fake-stats-meal{
  display: flex;
  width: 400px;
  max-width: 55vw;
  margin: 0 auto;
  justify-content: space-between;
}
.bradley-fake-stats-deal{
  display: flex;
  width: 400px;
  max-width: 55vw;
  margin: 0 auto;
  justify-content: space-between;
}